{% extends 'base.html'%}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django Crud</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque animi nobis atque tempora, a quo eius
            assumenda?
            Perferendis saepe blanditiis id dicta itaque harum repellat magni! Animi dolorem minus provident?</p>

            <div class="text-center">
                <a class="btn btn-primary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
    </section>
</main>

{% endblock %}

